<%= answer.text %>
<%= form_with model: [:admin, answer] do |form| %>
  <div><%= hidden_field_tag :id, answer.id %></div>
  <div><%= hidden_field_tag :flag, answer.flag %></div>
  <%= form.submit "Correct", class: "btn" %>
<% end %>
