<strong>
  <%= answer.text %>
</strong>
<%= form_with model: [:admin, answer] do |form| %>
  <div><%= hidden_field_tag :id, answer.id %></div>
  <div><%= hidden_field_tag :flag, answer.flag %></div>
  <%= form.submit "Uncorrect", class: "btn btn-primary", disabled: true %>
<% end %>
