<h1>Listing Questions</h1>
<%= link_to 'New question', new_admin_question_path %>
<%= paginate @questions %>
<%= page_entries_info @questions, entry_name: 'item' %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Question</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">Answer</th>
      <th scope="col">Correct Answer</th>
    </tr>
  </thead>

  <% @questions.each do |question| %>
  <tr>
    <td><%= question.id %></td>
    <td><%= question.text %></td>
    <td><%= link_to 'Show', admin_question_path(question) %></td>
    <td><%= link_to 'Edit', edit_admin_question_path(question) %></td>
    <td><%= link_to 'Delete', admin_question_path(question),
              method: :delete,
              data: { confirm: 'You sure?' } %></td>
    <td><%= question.answers.map{|a| a.text}.join(", ") %></td>
    <td><%= question.answers.find_by(flag: true).text %></td>
    <br>
  </tr>
  <% end %>
</table>
<br>
<%= link_to 'Back', admin_path %>
